$hot: hsl(0, 100%, 95%);

body {
    font-size: 16px;
    font-family: sans-serif;
    margin: 2%;
}

.hot {
    background: $hot;
    padding: 1px 3px;
}

.sample {
    padding: 1em 0;
}

.sample>div {
    height: auto;
    padding: 0.5em 0;
    overflow: hide;
}

@media screen and (min-width: 800px) {
    .sample>div {
        float: left;
    }

    .sample {
        margin: 1em auto;
        overflow: auto;
        clear: both;
    }

    .sample:after {
        clear: both;
        content: "";
        display: table;
    }

    div.clean {
        width: 40%;
    }

    div.label {
        min-width: 4em;
        width: 5%;
    }

    div.wmd {
        min-width: 4em;
        width: 5%;
    }

    div.adversarial {
        width: 40%;
    }
}
